.App {
    text-align: center;
  }
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.App-link {
    color: #61dafb;
  }
  
  
  
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
  }
  
  
.navbar{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:  center;
    color: white;
    padding: 10px;
    font-weight: bold;
  
  }
  
.products-container{
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 10px;
  }
  
img{
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;
  }
  
img:hover{
    transform: scale(1.1);
  }
  
  
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 200px 0;
  }
  
.card-description{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
.footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
  
  }
  
.login{
    width: 100%;
    min-height: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
 .login-inputs{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

.input{
    padding: 10px;
    width: 200px;
    border: 1px solid #cecece;
    margin: 20px 0;
}

small{
    color: red;
}

button{
    padding: 10px;
    width: 300px;
    border:1px;
    margin: 10px 0;
    background-color: black;
    color: white;
}